/* TypingAnimation.css */
.typing-text {
  font-family: monospace;
  letter-spacing: 2px;
  justify-content: center;
}

.letter {
    display: inline-block;
    font-size: 4rem;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
